ODOO_URL=https://your-odoo-server.com/
ODOO_DATABASE=your_database_name
ODOO_LOGIN=your_login_email@company.com
ODOO_API_KEY=your_api_key_here
READONLY_MODE=false
VIEW_FILTERED_MODE=false
MENU_FILTERED_MODE=false
